In [1]:
import pandas as pd

# read the dataset

In [2]:
df_raw = pd.read_csv('abcdataset_raw.csv')
df_raw

,id,tracking_number,date,sender_id,sender_zipCode,receiver_id,receiver_address,service,quantity,actual_weight,rate,description,buy_in_store,extra_charge,agent_id
0,26838,ABC-018111,9/5/2021,5249,75040.0,15267,DA NANG,TINH,1,7.4,4.5,1 LOC ENSURE,57.0,NaN,ABC
1,26835,ABC-018108,9/5/2021,2357,75098.0,12053,SAI GON,SAIGON,1,17.4,3.5,"SNACK, CHOCOLATE, FOOD",NaN,NaN,ABC
2,26834,ABC-018107,9/5/2021,2357,75098.0,2999,SAI GON,SAIGON,1,12,3.5,"SNACK, FOOD",NaN,NaN,ABC
3,26832,ABC-018105,9/5/2021,7188,75042.0,13168,TIEN GIANG,TINH,1,2,4.5,3 VITAMINS,NaN,36.0,ABC
4,26831,ABC-018104,9/5/2021,166,79761.0,168,BINH THUAN,TINH,2,94,4.5,"1 IPHONE 8 USED (IMEI# 359497080983070), SNACK...",NaN,70.0,ABC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21889,2210,ABC-001540,12/20/2019,2996,75042.0,3946,SAI GON,SAIGON,1,23.8,3.0,"CLOTHES, HAND BAG, VI, KINH XE CAMERA",NaN,7.0,ABC
21890,2209,ABC-001539,12/20/2019,218,75149.0,933,DONG NAI,TINH,1,37.2,3.0,MILK POWDER,NaN,NaN,ABC
21891,2208,ABC-001538,12/20/2019,3045,75075.0,4027,SAI GON,SAIGON,1,10.4,3.0,"LOTIONS, KIM THU DUONG, MEDICATED OIL, MEN",9.0,NaN,ABC
21892,2207,ABC-001537,12/20/2019,2794,75081.0,3636,DONG NAI,TINH,1,12.5,4.0,"SOAP, SNACK, IT GIFTSET, LOTION",NaN,NaN,ABC
21893,2206,ABC-001536,12/20/2019,3095,75040.0,4109,SAI GON,SAIGON,1,10,3.0,"CLOTHES, 2 PERFUME, 1 DT SAMSUNG J3",NaN,55.0,ABC

dataset's shape

In [3]:
df_raw.shape

(21894, 15)

# replace empty cells by 0

In [4]:
df_raw.fillna(0, inplace = True)
df_raw

,id,tracking_number,date,sender_id,sender_zipCode,receiver_id,receiver_address,service,quantity,actual_weight,rate,description,buy_in_store,extra_charge,agent_id
0,26838,ABC-018111,9/5/2021,5249,75040.0,15267,DA NANG,TINH,1,7.4,4.5,1 LOC ENSURE,57.0,0.0,ABC
1,26835,ABC-018108,9/5/2021,2357,75098.0,12053,SAI GON,SAIGON,1,17.4,3.5,"SNACK, CHOCOLATE, FOOD",0.0,0.0,ABC
2,26834,ABC-018107,9/5/2021,2357,75098.0,2999,SAI GON,SAIGON,1,12,3.5,"SNACK, FOOD",0.0,0.0,ABC
3,26832,ABC-018105,9/5/2021,7188,75042.0,13168,TIEN GIANG,TINH,1,2,4.5,3 VITAMINS,0.0,36.0,ABC
4,26831,ABC-018104,9/5/2021,166,79761.0,168,BINH THUAN,TINH,2,94,4.5,"1 IPHONE 8 USED (IMEI# 359497080983070), SNACK...",0.0,70.0,ABC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21889,2210,ABC-001540,12/20/2019,2996,75042.0,3946,SAI GON,SAIGON,1,23.8,3.0,"CLOTHES, HAND BAG, VI, KINH XE CAMERA",0.0,7.0,ABC
21890,2209,ABC-001539,12/20/2019,218,75149.0,933,DONG NAI,TINH,1,37.2,3.0,MILK POWDER,0.0,0.0,ABC
21891,2208,ABC-001538,12/20/2019,3045,75075.0,4027,SAI GON,SAIGON,1,10.4,3.0,"LOTIONS, KIM THU DUONG, MEDICATED OIL, MEN",9.0,0.0,ABC
21892,2207,ABC-001537,12/20/2019,2794,75081.0,3636,DONG NAI,TINH,1,12.5,4.0,"SOAP, SNACK, IT GIFTSET, LOTION",0.0,0.0,ABC
21893,2206,ABC-001536,12/20/2019,3095,75040.0,4109,SAI GON,SAIGON,1,10,3.0,"CLOTHES, 2 PERFUME, 1 DT SAMSUNG J3",0.0,55.0,ABC

In [5]:
df_raw.shape

(21894, 15)

# delete rows with id, tracking_number, date, sender_id, sender_zipCode, receiver_id, receiver_address, receiver_state, quantity, actual_weight, rate, total, description, agent_id have 0 value

In [6]:
index_zip = df_raw[df_raw['sender_zipCode'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [7]:
index_zip = df_raw[df_raw['id'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [8]:
index_zip = df_raw[df_raw['tracking_number'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [9]:
index_zip = df_raw[df_raw['date'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [10]:
index_zip = df_raw[df_raw['sender_id'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [11]:
index_zip = df_raw[df_raw['receiver_id'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [12]:
index_zip = df_raw[df_raw['receiver_address'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [13]:
index_zip = df_raw[df_raw['service'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [14]:
index_zip = df_raw[df_raw['quantity'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [15]:
index_zip = df_raw[df_raw['actual_weight'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [16]:
index_zip = df_raw[df_raw['rate'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [17]:
index_zip = df_raw[df_raw['description'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [18]:
index_zip = df_raw[df_raw['agent_id'] == 0].index
df_raw.drop(index_zip, inplace = True)

In [19]:
index_zip = df_raw[df_raw['description'] == 0].index
df_raw.drop(index_zip, inplace = True)

# new dataset and its shape

In [20]:
new_df = df_raw
new_df.shape

(19951, 15)

# cleaning text in description, receiver_address and service columns

In [21]:
!pip install stop_words
# Define function for tokenize and lemmatizing
from stop_words import get_stop_words
from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer

Requirement already satisfied: stop_words in /Users/thiphan/opt/anaconda3/lib/python3.8/site-packages (2018.7.23)

In [22]:
new_df['description'] = new_df['description'].apply(lambda x: " ".join(x for x in str(x).split() if not x.isdigit() and not x.isspace()))
new_df['description'] = new_df['description'].str.replace('[^\w\s]','')
new_df['description'] = new_df['description'].str.lower()
new_df

,id,tracking_number,date,sender_id,sender_zipCode,receiver_id,receiver_address,service,quantity,actual_weight,rate,description,buy_in_store,extra_charge,agent_id
0,26838,ABC-018111,9/5/2021,5249,75040.0,15267,DA NANG,TINH,1,7.4,4.5,loc ensure,57.0,0.0,ABC
1,26835,ABC-018108,9/5/2021,2357,75098.0,12053,SAI GON,SAIGON,1,17.4,3.5,snack chocolate food,0.0,0.0,ABC
2,26834,ABC-018107,9/5/2021,2357,75098.0,2999,SAI GON,SAIGON,1,12,3.5,snack food,0.0,0.0,ABC
3,26832,ABC-018105,9/5/2021,7188,75042.0,13168,TIEN GIANG,TINH,1,2,4.5,vitamins,0.0,36.0,ABC
4,26831,ABC-018104,9/5/2021,166,79761.0,168,BINH THUAN,TINH,2,94,4.5,iphone used imei 359497080983070 snack milk po...,0.0,70.0,ABC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21889,2210,ABC-001540,12/20/2019,2996,75042.0,3946,SAI GON,SAIGON,1,23.8,3.0,clothes hand bag vi kinh xe camera,0.0,7.0,ABC
21890,2209,ABC-001539,12/20/2019,218,75149.0,933,DONG NAI,TINH,1,37.2,3.0,milk powder,0.0,0.0,ABC
21891,2208,ABC-001538,12/20/2019,3045,75075.0,4027,SAI GON,SAIGON,1,10.4,3.0,lotions kim thu duong medicated oil men,9.0,0.0,ABC
21892,2207,ABC-001537,12/20/2019,2794,75081.0,3636,DONG NAI,TINH,1,12.5,4.0,soap snack it giftset lotion,0.0,0.0,ABC
21893,2206,ABC-001536,12/20/2019,3095,75040.0,4109,SAI GON,SAIGON,1,10,3.0,clothes perfume dt samsung j3,0.0,55.0,ABC

In [23]:
new_df['receiver_address'] = new_df['receiver_address'].str.upper()

In [24]:
new_df['service'] = new_df['service'].str.upper()

In [25]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19951 entries, 0 to 21893
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19951 non-null  int64
 1   tracking_number   19951 non-null  object
 2   date              19951 non-null  object
 3   sender_id         19951 non-null  int64
 4   sender_zipCode    19951 non-null  float64
 5   receiver_id       19951 non-null  int64
 6   receiver_address  19951 non-null  object
 7   service           19951 non-null  object
 8   quantity          19951 non-null  int64
 9   actual_weight     19951 non-null  object
 10  rate              19951 non-null  float64
 11  description       19951 non-null  object
 12  buy_in_store      19951 non-null  float64
 13  extra_charge      19951 non-null  float64
 14  agent_id          19951 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 2.4+ MB

# change datatype for date, actual_weight, buy_in_store

In [26]:
new_df['date'] = new_df['date'].astype('datetime64[ns]')
new_df['actual_weight'] = new_df['actual_weight'].astype(float)
new_df['buy_in_store'] = new_df['buy_in_store'].astype(float)

In [27]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19951 entries, 0 to 21893
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19951 non-null  int64
 1   tracking_number   19951 non-null  object
 2   date              19951 non-null  datetime64[ns]
 3   sender_id         19951 non-null  int64
 4   sender_zipCode    19951 non-null  float64
 5   receiver_id       19951 non-null  int64
 6   receiver_address  19951 non-null  object
 7   service           19951 non-null  object
 8   quantity          19951 non-null  int64
 9   actual_weight     19951 non-null  float64
 10  rate              19951 non-null  float64
 11  description       19951 non-null  object
 12  buy_in_store      19951 non-null  float64
 13  extra_charge      19951 non-null  float64
 14  agent_id          19951 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(4), object(5)
memory usage: 2.4+ MB

# save a cleaned dataset into a new file

In [28]:
new_df.to_csv('abcdataset_cleaned.csv')